.profileImage {
  width: 42px;
  height: 42px;
  padding-top: 6px;
  padding-left: 6px;
  border-radius: 25px;
  display: inline-block;
}

.Name {
  white-space: nowrap;
  display: inline-block;
  margin-right: 10px;
  margin-left: 15px;
}

.toggleButton {
  height: 50px;
}

.checked {
  margin-top: 0;
}

.Card {
  margin: 10px;
}
.centered{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.fbButton {
  margin: 0 auto;
}

.login{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 100px;
}

.JbHead{
  padding-bottom: 20px;
}

.JbRound{
  border-radius: 20px;
}

body{
  height: 100%;
}

.rsc-container.sc-iwsKbI.irIdto{
  right: 0;
  bottom: 0;
  position: fixed;
  height: 520px !important;
}

.LoginImage{
  width: 100%;
}

.buttonCards{
  width: 30% !important;
  height: 40px !important;
}