.profileImage{
  width: 42px;
  height: 42px;
  padding-top: 4px;
  padding-left: 4px;
  border-radius: 25px;
  display: inline-block;
}

.Name{
  white-space: nowrap;
  display: inline-block;
  margin-right: 10px;
  margin-left: 15px;
}