.profileImage{
  width: 42px;
  height: 42px;
  padding-top: 6px;
  padding-left: 6px;
  border-radius: 25px;
  display: inline-block;
}

.Name{
  white-space: nowrap;
  display: inline-block;
  margin-right: 10px;
  margin-left: 15px;
}

.toggleButton{
  height: 50px;
}

.checked{
  margin-top:0;
}