body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;  
  min-height: 100%;
  height: 100vh;
  background: #f5f5f5;
}

.kep-login-facebook.metro{
  border-radius: 10px !important;
}
#outlined-full-width{
  font-size: 15px !important;
  background-color: #f5f5f5;
}

.MuiPrivateNotchedOutline-root-37{
   border-radius: 50px !important;
}

.MuiPrivateNotchedOutline-root-65{
  border-radius: 50px !important;
  margin-left: 20px
}

.marginNormal-32 {
  margin-top: 5px !important;
}

.MuiFormControl-marginNormal-32{
  margin-top: 5px !important;
}

.navbar-inverse .navbar-nav>li>a{
  color: #ff9800 !important;
}
.navbar-brand{
  padding: 5px 5px !important;
}

.kyiypa{
  position: fixed !important;
  height: 520px !important;
  bottom: 0 !important;
  right: 0 !important;
}

#chatbutton{
  position: fixed;
  bottom: 4% !important;
  right: 3% !important;
}